<div class="row clearfix">
  <% if item.completed? %>
    <div class="complete">
      <%= link_to complete_user_todo_list_item_path(@user, @todo_list, item.id), method: :patch do %>
        <i style="opacity: 0.4;" class="fa fa-check"></i>
      <% end %>
    </div>

    <div class="todo_item">
      <p style="opacity: 0.4;"><strike><%= item.name %></strike></p>
    </div>

    <div class="trash">
      <%= link_to user_todo_list_item_path(@user, @todo_list, item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>

  <% else %>

    <div class="complete">
      <%= link_to complete_user_todo_list_item_path(@user, @todo_list, item.id), method: :patch do %>
        <i class="fa fa-check"></i>
      <% end %>
    </div>

    <div class="todo_item">
      <p style="font-weight:300"><%= item.name %> | <%= distance_of_time_in_words(Time.now, item.created_at + 7.days)%> left</p>
    </div>

    <div class="trash">
      <%= link_to user_todo_list_item_path(@user, @todo_list, item.id), method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>

  <% end %>
  
</div>
