<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <ul class="nav nav-tabs">
    <li><%= link_to "blocitoff", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <div class="pull-right user-info">
      <%= link_to "Sign Up", new_user_session_path %>
    </div>
  </ul>

<%= yield %>

</body>
</html>
